# Librarti yang dibutuhkan

In [1]:
# Librari yang dibutuhkan
import pandas as pd
import numpy as np
import joblib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Load Dataset

In [2]:
# Memanggil dataset
df = pd.read_csv('StudentPerformanceFactors.csv')

In [3]:
# Deskripsi dataset
df

,Jam_belajar,Kehadiran,Keterlibatan_Keluarga,Akses_pembelajaran,Ekstrakurikuler,Jam_tidur,Skor_sebelumnya,Tingkat_motivasi,Akses_internet,Sesi_bimbingan,Pendapatan_keluarga,Kualitas_guru,Tipe_sekolah,Pengaruh_teman,Aktivitas_fisik,Kesulitan_belajar,Pendidikan_keluarga,Jarak_rumah,Jenis_kelamin,Skor_ujian
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [4]:
# Mengecek seberapa banyak baris dan kolom
df.shape

(6607, 20)

In [5]:
# Menghapus kolom 'Gender'
df = df.drop(columns=['Jenis_kelamin'])
# Menampilkan DataFrame yang sudah diperbarui
print(df)

      Jam_belajar  Kehadiran Keterlibatan_Keluarga Akses_pembelajaran  \
0              23         84                   Low               High
1              19         64                   Low             Medium
2              24         98                Medium             Medium
3              29         89                   Low             Medium
4              19         92                Medium             Medium
...           ...        ...                   ...                ...
6602           25         69                  High             Medium
6603           23         76                  High             Medium
6604           20         90                Medium                Low
6605           10         86                  High               High
6606           15         67                Medium                Low

     Ekstrakurikuler  Jam_tidur  Skor_sebelumnya Tingkat_motivasi  \
0                 No          7               73              Low
1                 No          8               59              Low
2                Yes          7               91           Medium
3                Yes          8               98           Medium
4                Yes          6               65           Medium
...              ...        ...              ...              ...
6602              No          7               76           Medium
6603              No          8               81           Medium
6604             Yes          6               65              Low
6605             Yes          6               91             High
6606             Yes          9               94           Medium

     Akses_internet  Sesi_bimbingan Pendapatan_keluarga Kualitas_guru  \
0               Yes               0                 Low        Medium
1               Yes               2              Medium        Medium
2               Yes               2              Medium        Medium
3               Yes               1              Medium        Medium
4               Yes               3              Medium          High
...             ...             ...                 ...           ...
6602            Yes               1                High        Medium
6603            Yes               3                 Low          High
6604            Yes               3                 Low        Medium
6605            Yes               2                 Low        Medium
6606            Yes               0              Medium        Medium

     Tipe_sekolah Pengaruh_teman  Aktivitas_fisik Kesulitan_belajar  \
0          Public       Positive                3                No
1          Public       Negative                4                No
2          Public        Neutral                4                No
3          Public       Negative                4                No
4          Public        Neutral                4                No
...           ...            ...              ...               ...
6602       Public       Positive                2                No
6603       Public       Positive                2                No
6604       Public       Negative                2                No
6605      Private       Positive                3                No
6606       Public       Positive                4                No

     Pendidikan_keluarga Jarak_rumah  Skor_ujian
0            High School        Near          67
1                College    Moderate          61
2           Postgraduate        Near          74
3            High School    Moderate          71
4                College        Near          70
...                  ...         ...         ...
6602         High School        Near          68
6603         High School        Near          69
6604        Postgraduate        Near          68
6605         High School         Far          68
6606        Postgraduate        Near          64

[6607 rows x 19 columns]

In [6]:
# Mengecek data kolom
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Jam_belajar            6607 non-null   int64
 1   Kehadiran              6607 non-null   int64
 2   Keterlibatan_Keluarga  6607 non-null   object
 3   Akses_pembelajaran     6607 non-null   object
 4   Ekstrakurikuler        6607 non-null   object
 5   Jam_tidur              6607 non-null   int64
 6   Skor_sebelumnya        6607 non-null   int64
 7   Tingkat_motivasi       6607 non-null   object
 8   Akses_internet         6607 non-null   object
 9   Sesi_bimbingan         6607 non-null   int64
 10  Pendapatan_keluarga    6607 non-null   object
 11  Kualitas_guru          6529 non-null   object
 12  Tipe_sekolah           6607 non-null   object
 13  Pengaruh_teman         6607 non-null   object
 14  Aktivitas_fisik        6607 non-null   int64
 15  Kesulitan_belajar      6607 non-null   object
 16  Pendidikan_keluarga    6517 non-null   object
 17  Jarak_rumah            6540 non-null   object
 18  Skor_ujian             6607 non-null   int64
dtypes: int64(7), object(12)
memory usage: 980.9+ KB

In [7]:
# Mencari nilai yang hilang
print(df.isnull().sum())

Jam_belajar               0
Kehadiran                 0
Keterlibatan_Keluarga     0
Akses_pembelajaran        0
Ekstrakurikuler           0
Jam_tidur                 0
Skor_sebelumnya           0
Tingkat_motivasi          0
Akses_internet            0
Sesi_bimbingan            0
Pendapatan_keluarga       0
Kualitas_guru            78
Tipe_sekolah              0
Pengaruh_teman            0
Aktivitas_fisik           0
Kesulitan_belajar         0
Pendidikan_keluarga      90
Jarak_rumah              67
Skor_ujian                0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df[df.isnull().any(axis=1)]

,Jam_belajar,Kehadiran,Keterlibatan_Keluarga,Akses_pembelajaran,Ekstrakurikuler,Jam_tidur,Skor_sebelumnya,Tingkat_motivasi,Akses_internet,Sesi_bimbingan,Pendapatan_keluarga,Kualitas_guru,Tipe_sekolah,Pengaruh_teman,Aktivitas_fisik,Kesulitan_belajar,Pendidikan_keluarga,Jarak_rumah,Skor_ujian
33,14,60,High,Medium,No,5,50,Medium,Yes,2,Medium,Medium,Public,Neutral,3,No,College,NaN,61
127,17,97,Medium,Medium,No,8,89,Medium,Yes,1,Low,NaN,Public,Neutral,4,No,High School,Far,69
240,15,87,Low,Medium,No,4,54,Medium,Yes,1,Medium,Medium,Public,Neutral,6,No,NaN,Moderate,65
275,23,82,Low,Medium,Yes,8,94,Medium,Yes,1,Medium,Medium,Public,Negative,2,Yes,High School,NaN,66
316,24,90,Low,Low,No,7,83,Medium,Yes,0,Low,Medium,Private,Positive,3,No,College,NaN,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6502,23,64,Medium,Medium,No,7,75,Medium,Yes,2,Medium,High,Public,Positive,2,No,NaN,Near,66
6579,9,84,Medium,Medium,No,6,74,Medium,Yes,5,High,NaN,Public,Neutral,2,No,High School,Near,67
6589,22,90,Low,High,No,5,99,Medium,Yes,1,Low,Low,Private,Positive,2,No,College,NaN,70
6594,9,90,High,High,Yes,7,79,Low,Yes,4,High,High,Public,Positive,4,No,High School,NaN,70
6596,17,92,Medium,Medium,No,7,66,Low,Yes,2,Low,NaN,Public,Negative,3,No,High School,Near,66

In [10]:
## Filling null values by the first value of each column
df['Kualitas_guru'] = df['Kualitas_guru'].fillna(df['Kualitas_guru'].mode()[0])
df['Pendidikan_keluarga'] = df['Pendidikan_keluarga'].fillna(df['Pendidikan_keluarga'].mode()[0])
df['Jarak_rumah'] = df['Jarak_rumah'].fillna(df['Jarak_rumah'].mode()[0])

# # Jika ingin menghapus baris yang ada nilai kosong
# df=df.dropna()

In [11]:
# Mencari nilai yang hilang
print(df.isnull().sum())

Jam_belajar              0
Kehadiran                0
Keterlibatan_Keluarga    0
Akses_pembelajaran       0
Ekstrakurikuler          0
Jam_tidur                0
Skor_sebelumnya          0
Tingkat_motivasi         0
Akses_internet           0
Sesi_bimbingan           0
Pendapatan_keluarga      0
Kualitas_guru            0
Tipe_sekolah             0
Pengaruh_teman           0
Aktivitas_fisik          0
Kesulitan_belajar        0
Pendidikan_keluarga      0
Jarak_rumah              0
Skor_ujian               0
dtype: int64

In [12]:
df['Keterlibatan_Keluarga'] = df['Keterlibatan_Keluarga'].map({'Low': 1, 'Medium': 2 , 'High' :3})
df['Akses_pembelajaran'] = df['Akses_pembelajaran'].map({'Low': 1, 'Medium': 2 , 'High' :3})
df['Ekstrakurikuler'] = df['Ekstrakurikuler'].map({'Yes': 1, 'No': 0})
df['Tingkat_motivasi'] = df['Tingkat_motivasi'].map({'Low': 1, 'Medium': 2 , 'High' :3})
df['Akses_internet'] = df['Akses_internet'].map({'Yes': 1, 'No': 0})
df['Pendapatan_keluarga'] = df['Pendapatan_keluarga'].map({'Low': 1, 'Medium': 2 , 'High' :3})
df['Kualitas_guru'] = df['Kualitas_guru'].map({'Low': 1, 'Medium': 2 , 'High' :3})
df['Tipe_sekolah'] = df['Tipe_sekolah'].map({'Public': 1, 'Private': 2})
df['Pengaruh_teman'] = df['Pengaruh_teman'].map({'Positive': 1, 'Neutral': 2, 'Negative' : 3})
df['Kesulitan_belajar'] = df['Kesulitan_belajar'].map({'Yes': 1, 'No': 0})
df['Pendidikan_keluarga'] = df['Pendidikan_keluarga'].map({'High School': 1, 'College': 2, 'Postgraduate' : 3})
df['Jarak_rumah'] = df['Jarak_rumah'].map({'Near': 1, 'Moderate': 2 , 'Far' :3})

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Jam_belajar            6607 non-null   int64
 1   Kehadiran              6607 non-null   int64
 2   Keterlibatan_Keluarga  6607 non-null   int64
 3   Akses_pembelajaran     6607 non-null   int64
 4   Ekstrakurikuler        6607 non-null   int64
 5   Jam_tidur              6607 non-null   int64
 6   Skor_sebelumnya        6607 non-null   int64
 7   Tingkat_motivasi       6607 non-null   int64
 8   Akses_internet         6607 non-null   int64
 9   Sesi_bimbingan         6607 non-null   int64
 10  Pendapatan_keluarga    6607 non-null   int64
 11  Kualitas_guru          6607 non-null   int64
 12  Tipe_sekolah           6607 non-null   int64
 13  Pengaruh_teman         6607 non-null   int64
 14  Aktivitas_fisik        6607 non-null   int64
 15  Kesulitan_belajar      6607 non-null   int64
 16  Pendidikan_keluarga    6607 non-null   int64
 17  Jarak_rumah            6607 non-null   int64
 18  Skor_ujian             6607 non-null   int64
dtypes: int64(19)
memory usage: 980.9 KB

In [14]:
df

,Jam_belajar,Kehadiran,Keterlibatan_Keluarga,Akses_pembelajaran,Ekstrakurikuler,Jam_tidur,Skor_sebelumnya,Tingkat_motivasi,Akses_internet,Sesi_bimbingan,Pendapatan_keluarga,Kualitas_guru,Tipe_sekolah,Pengaruh_teman,Aktivitas_fisik,Kesulitan_belajar,Pendidikan_keluarga,Jarak_rumah,Skor_ujian
0,23,84,1,3,0,7,73,1,1,0,1,2,1,1,3,0,1,1,67
1,19,64,1,2,0,8,59,1,1,2,2,2,1,3,4,0,2,2,61
2,24,98,2,2,1,7,91,2,1,2,2,2,1,2,4,0,3,1,74
3,29,89,1,2,1,8,98,2,1,1,2,2,1,3,4,0,1,2,71
4,19,92,2,2,1,6,65,2,1,3,2,3,1,2,4,0,2,1,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,3,2,0,7,76,2,1,1,3,2,1,1,2,0,1,1,68
6603,23,76,3,2,0,8,81,2,1,3,1,3,1,1,2,0,1,1,69
6604,20,90,2,1,1,6,65,1,1,3,1,2,1,3,2,0,3,1,68
6605,10,86,3,3,1,6,91,3,1,2,1,2,2,1,3,0,1,3,68
6606,15,67,2,1,1,9,94,2,1,0,2,2,1,1,4,0,3,1,64

In [15]:
# Deteksi dan Batasi Outlier di Exam_Score (karena tidak boleh melebihi 100)
#removing outliers
mean = np.mean(df, axis=0)
std_dev = np.std(df, axis=0)
z_scores = (df - mean) / std_dev
outliers = np.abs(z_scores) > 3
df = df[~np.any(outliers, axis=1)]
df.head(10)

,Jam_belajar,Kehadiran,Keterlibatan_Keluarga,Akses_pembelajaran,Ekstrakurikuler,Jam_tidur,Skor_sebelumnya,Tingkat_motivasi,Akses_internet,Sesi_bimbingan,Pendapatan_keluarga,Kualitas_guru,Tipe_sekolah,Pengaruh_teman,Aktivitas_fisik,Kesulitan_belajar,Pendidikan_keluarga,Jarak_rumah,Skor_ujian
0,23,84,1,3,0,7,73,1,1,0,1,2,1,1,3,0,1,1,67
1,19,64,1,2,0,8,59,1,1,2,2,2,1,3,4,0,2,2,61
2,24,98,2,2,1,7,91,2,1,2,2,2,1,2,4,0,3,1,74
3,29,89,1,2,1,8,98,2,1,1,2,2,1,3,4,0,1,2,71
4,19,92,2,2,1,6,65,2,1,3,2,3,1,2,4,0,2,1,70
5,19,88,2,2,1,8,89,2,1,3,2,2,1,1,3,0,3,1,71
6,29,84,2,1,1,7,68,1,1,1,1,2,2,2,2,0,1,2,67
7,25,78,1,3,1,6,50,2,1,1,3,3,1,3,2,0,1,3,66
8,17,94,2,3,0,6,80,3,1,0,2,1,2,2,1,0,2,1,69
9,23,98,2,2,1,8,71,2,1,0,3,3,1,1,5,0,1,2,72

In [16]:
# Download dataset yang sudah diperbaiki
df.to_csv('Performa_Siswa.csv', index=False)
df

,Jam_belajar,Kehadiran,Keterlibatan_Keluarga,Akses_pembelajaran,Ekstrakurikuler,Jam_tidur,Skor_sebelumnya,Tingkat_motivasi,Akses_internet,Sesi_bimbingan,Pendapatan_keluarga,Kualitas_guru,Tipe_sekolah,Pengaruh_teman,Aktivitas_fisik,Kesulitan_belajar,Pendidikan_keluarga,Jarak_rumah,Skor_ujian
0,23,84,1,3,0,7,73,1,1,0,1,2,1,1,3,0,1,1,67
1,19,64,1,2,0,8,59,1,1,2,2,2,1,3,4,0,2,2,61
2,24,98,2,2,1,7,91,2,1,2,2,2,1,2,4,0,3,1,74
3,29,89,1,2,1,8,98,2,1,1,2,2,1,3,4,0,1,2,71
4,19,92,2,2,1,6,65,2,1,3,2,3,1,2,4,0,2,1,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,3,2,0,7,76,2,1,1,3,2,1,1,2,0,1,1,68
6603,23,76,3,2,0,8,81,2,1,3,1,3,1,1,2,0,1,1,69
6604,20,90,2,1,1,6,65,1,1,3,1,2,1,3,2,0,3,1,68
6605,10,86,3,3,1,6,91,3,1,2,1,2,2,1,3,0,1,3,68
6606,15,67,2,1,1,9,94,2,1,0,2,2,1,1,4,0,3,1,64

In [17]:
# Pilih fitur input dan target
selected_features = ['Kehadiran', 'Jam_belajar', 'Jam_tidur', 'Ekstrakurikuler', 'Skor_sebelumnya',
            'Akses_internet', 'Sesi_bimbingan', 'Pendapatan_keluarga', 'Kualitas_guru', 'Tipe_sekolah',
            'Pengaruh_teman', 'Aktivitas_fisik', 'Kesulitan_belajar','Pendidikan_keluarga',
            'Jarak_rumah', 'Keterlibatan_Keluarga', 'Akses_pembelajaran', 'Tingkat_motivasi' ]
target = ['Skor_ujian']
X = df[selected_features]
y = df[target]
# # Pilih fitur input dan target
# selected_features = ['Kehadiran', 'Jam_belajar', 'Jam_tidur', 'Ekstrakurikuler', 'Skor_sebelumnya',
#             'Akses_internet', 'Sesi_bimbingan', 'Pendapatan_keluarga', 'Kualitas_guru', 'Tipe_sekolah',
#             'Pengaruh_teman', 'Aktivitas_fisik', 'Kesulitan_belajar','Pendidikan_keluarga',
#             'Jarak_rumah', 'Keterlibatan_keluarga', 'Akses_pembelajaran' ]
# X = df[selected_features]
# y = df['Skor_ujian']

In [18]:
# # preprocessing - Encoding Variabel Kategorikal dan Scaling
# # Mengubah variabel kategorikal menjadi numerik dengan one-hot encoding
# data_encoded = pd.get_dummies(df, drop_first=True)

# # Memisahkan fitur (X) dan target (y)
# X = data_encoded.drop('Skor_ujian', axis=1)
# y = data_encoded['Skor_ujian']

# # # preprocessing - Encoding Variabel Kategorikal dan Scaling
# # # Mengubah variabel kategorikal menjadi numerik dengan one-hot encoding
# # data_encoded = pd.get_dummies(df, drop_first=True)

# # # Memisahkan fitur (X) dan target (y)
# # X = data_encoded.drop('Skor_Ujian', axis=1)
# # y = data_encoded['Skor_Ujian']

# Standarisasi Data

In [19]:
# Standarisasi data fitur
scaler = StandardScaler()
X_standardized = scaler.fit_transform(X)

# Get column names after one-hot encoding
selected_features = X.columns

# Create DataFrame with correct column names
X_standardized_df = pd.DataFrame(X_standardized, columns=selected_features)

In [20]:
# (Opsional) Standarisasi target
y_standardized = scaler.fit_transform(y.values.reshape(-1, 1))

In [21]:
# Menampilkan data yang telah distandarisasi
print("Fitur yang telah distandarisasi:\n", X_standardized_df.head())

Fitur yang telah distandarisasi:
    Kehadiran  Jam_belajar  Jam_tidur  Ekstrakurikuler  Skor_sebelumnya  \
0   0.356517     0.517972  -0.024814        -1.213366        -0.143812
1  -1.377283    -0.163145   0.653630        -1.213366        -1.117165
2   1.570177     0.688251  -0.024814         0.824154         1.107641
3   0.789967     1.539647   0.653630         0.824154         1.594317
4   1.050037    -0.163145  -0.703258         0.824154        -0.700014

   Akses_internet  Sesi_bimbingan  Pendapatan_keluarga  Kualitas_guru  \
0             0.0       -1.229880            -1.065991      -0.324995
1             0.0        0.442490             0.283606      -0.324995
2             0.0        0.442490             0.283606      -0.324995
3             0.0       -0.393695             0.283606      -0.324995
4             0.0        1.278674             0.283606       1.351544

   Tipe_sekolah  Pengaruh_teman  Aktivitas_fisik  Kesulitan_belajar  \
0     -0.658673       -1.072651         0.033627          -0.343252
1     -0.658673        1.574865         1.006065          -0.343252
2     -0.658673        0.251107         1.006065          -0.343252
3     -0.658673        1.574865         1.006065          -0.343252
4     -0.658673        0.251107         1.006065          -0.343252

   Pendidikan_keluarga  Jarak_rumah  Keterlibatan_Keluarga  \
0            -0.891618    -0.750145              -1.569426
1             0.388659     0.741959              -1.569426
2             1.668937    -0.750145              -0.126868
3            -0.891618     0.741959              -1.569426
4             0.388659    -0.750145              -0.126868

   Akses_pembelajaran  Tingkat_motivasi
0            1.293322         -1.307609
1           -0.138281         -1.307609
2           -0.138281          0.131072
3           -0.138281          0.131072
4           -0.138281          0.131072

In [22]:
print("Target yang telah distandarisasi:\n", y_standardized[:5])

Target yang telah distandarisasi:
 [[-0.03201577]
 [-1.84590783]
 [ 2.08419163]
 [ 1.1772456 ]
 [ 0.87493026]]

# Memisahkan Data Training & Data Testing

In [23]:
# Membagi data menjadi training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
print(X.shape, X_train.shape, X_test.shape)

(6015, 18) (4812, 18) (1203, 18)

# Membuat Data Latih Menggunakan Algoritma LinearRegression

In [25]:
# Membangun model regresi linear
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

# Membuat Model Evaluasi Untuk Mengukur Tingkat Akurasi

In [26]:
# Memprediksi nilai target pada data uji
y_pred = model.predict(X_test)
y_pred_rounded = np.round(y_pred)

# Menghitung metrik evaluasi
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print(f"Rata-rata Kesalahan Kuadrat (MSE): {mse:.2f}")
print(f"Akar Rata-rata Kesalahan Kuadrat (RMSE): {rmse:.2f}")
print(f"Skor R-kuadrat (R²): {r2:.2f}")
print(f"Rata-rata Kesalahan Absolut (MAE): {mae:.2f}")

Rata-rata Kesalahan Kuadrat (MSE): 0.11
Akar Rata-rata Kesalahan Kuadrat (RMSE): 0.34
Skor R-kuadrat (R²): 0.99
Rata-rata Kesalahan Absolut (MAE): 0.28

# Membuat Model Pediiksi

In [27]:
# Data baru yang ingin diprediksi (pastikan sesuai dengan kolom X_train)
data_baru = pd.DataFrame({
    'Jam_belajar': [31],
    'Kehadiran': [100],
    'Keterlibatan_Keluarga': [2],
    'Akses_pembelajaran': [2],
    'Ekstrakurikuler': [0],
    'Jam_tidur': [7],
    'Skor_sebelumnya': [59],
    'Tingkat_motivasi': [2],
    'Akses_internet': [1],
    'Sesi_bimbingan': [2],
    'Pendapatan_keluarga': [3],
    'Kualitas_guru': [3],
    'Tipe_sekolah': [1],
    'Pengaruh_teman': [1],
    'Aktivitas_fisik': [5],
    'Kesulitan_belajar': [0],
    'Pendidikan_keluarga': [3],
    'Jarak_rumah': [2]
}, index=[0])  # Menambahkan index untuk memastikan format DataFrame benar

try:
    # Pastikan data_baru hanya memiliki kolom yang digunakan model
    data_baru = data_baru[model.feature_names_in_]
except KeyError as e:
    print("Kesalahan: Kolom data tidak cocok dengan kolom yang digunakan oleh model.")
    exit()

# Prediksi hasil
try:
    hasil_prediksi = model.predict(data_baru)
    skor_prediksi = int(hasil_prediksi[0])
    print(f"Hasil prediksi skor ujian: {skor_prediksi:.2f}")
except Exception as e:
    print("Terjadi kesalahan saat prediksi.")

Hasil prediksi skor ujian: 75.00

# Simpan Model

In [28]:
joblib.dump(model, 'prediksi_skor_ujian.pkl')

['prediksi_skor_ujian.pkl']